.button {
    height: 48px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    border-radius: 8px;
    padding: 15px 64px;
}

.button_primary {
    background: var(--primary);
}

.button_secondary {
    background: var(--secondary);
}

.button_alternate {
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}

.button_alternate:hover {
    border: 1px solid var(--black);
}

.button:hover {
    opacity: 0.8;
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}
