.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip__bubble {
    background: var(--blue-2);
    color: var(--white);
    width: 129px;
    border-radius: 10px;
    padding: 13px 21px 8px;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translate(-50%);
    display: none;
}

.tooltip__bubble:before {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: var(--blue-2);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%) ;
}

.tooltip__bubble_text {
    font-family: Inter sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.tooltip__trigger:hover + .tooltip__bubble {
    display: block;
}